.searchContainer {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #171924;
  border-radius: 7px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 990;

  @media screen and  (min-width: 768px) {
    position: relative;
    width: auto;
    height: auto;
  }
}

.searchLabel {
  display: flex;
  align-items: center;
  background: #171924;
  padding: 0 10px;
  width: 100%;
  z-index: 99;

  .searhIcon {
    color: #ffffff5c;
  }

  .navbarSearch {
    background: none;
    outline: none;
    border: none;
    color: rgba(255, 255, 255, 0.648);
    width: 100%;
    transition: all ease 0.3s;

    &:focus {
      background: #171924;
      color: rgba(255, 255, 255, 0.648);
      box-shadow: none;
    }

    @media screen and (min-width: 560px) {
      width: 250px;
      &:focus {
        width: 300px;
      }
    }
  }

  .searchItemContainer {
    position: absolute;
    z-index: 101;
    left: 0;
    width: inherit;
    background: #171924;
    color: #fff;
    width: 100%;
    padding: 25px 10px 15px;
    display: block;
    max-height: 400px;
    overflow-y: auto;

    .trandigContainer {
      display: flex;
      align-items: center;

      .fireIcon {
        padding-bottom: 5px;
        font-size: 1.4rem;
        color: #ff775f;
      }
      h6 {
        font-size: 0.8rem;
      }
    }

    .item {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 8px 0;

      .titleCpntainer {
        display: flex;
        align-items: center;
      }

      .name {
        padding: 0 5px;
        font-weight: bold;
        display: inline-block;
        text-decoration: none;
        color: #fff;
      }

      .symbol {
        color: #5e6172;
        font-weight: bold;
        display: inline-block;
      }

      .rank {
        color: #5e6172;
        font-weight: bold;
      }

      img {
        width: 25px;
        padding-bottom: 3px;
      }
    }
  }
}

.navbarHam:focus {
  box-shadow: none;
}

.rightContainer {
  display: flex;
  align-items: center;

  .loginButtonContainer {
    button {
      padding: 6px 18px;
      display: inline-block;
      font-weight: bold;
      font-size: 0.9rem;
    }

    .login {
      margin-right: 10px;
      border: 1px solid #3962f4;
      background: none;
      color: #3962f4;
      border-radius: 7px;
      transition: all ease 0.3s;

      &:hover {
        background: rgba(51, 51, 51, 0.153);
      }
    }

    .signup {
      margin-right: 10px;
      border: none;
      color: #fff;
      background: #3962f4;
      border-radius: 7px;
      transition: all ease 0.3s;

      &:hover {
        background: #476dfb;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .rightContainer {
    display: block;

    .loginButtonContainer {
      display: flex;
      flex-direction: column;

      button {
        margin-bottom: 10px;
        padding: 10px 18px;
        width: 100%;
      }
    }
  }
}

//global Section

.topDataResponse {
  overflow: auto;
  background: #212529;
  border-top: 1px solid #655c5c37;
  border-bottom: 1px solid #655c5c37;

  @media screen and (min-width: 1199px) {
    border-bottom: 1px solid #655c5c37;
    border-top: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
.topData {
  display: flex;
  padding: 8px 10px;
  width: 100%;
}

@media screen and (min-width: 1199px) {
  .topDataResponse {
    border-bottom: 1px solid #655c5c37;
    border-top: none;
  }
  .topData {
    padding: 16px 10px;
  }
}
