@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom, #17171a, #17171a);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #17171a;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(65, 62, 62, 0.695);
}

@layer components {
  .tdStyle {
    @apply px-3;
  }

  a {
    @apply md:cursor-pointer cursor-default;
  }

  .upDownIcon {
    @apply text-[1.4rem] relative top-[-1xp] left-[3px];
  }

  .downColor {
    @apply text-[#ca343f];
  }

  .upColor {
    @apply text-[#16bf80];
  }
}


.active {
  @apply rounded-md bg-[#5463FF];
}